.home {
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 25, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
        color: rgb(204, 214, 246);
        font-size: 50px;
        margin: 0;
        margin-bottom: 30px;
    }
}

.grid {
    color: rgb(100, 255, 218);
    margin-bottom: 50px;
}

.glitch{
    color:white;
    font-size:70px;
    position:relative;
    width:400px;
    margin:0 auto;
  }
  @keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:after{
    content:attr(data-text);
    position:absolute;
    left:2px;
    text-shadow:-1px 0 red;
    top:0;
    color:white;
    background:rgb(10, 25, 47);
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-anim-2{
    $steps:20;
    @for $i from 0 through $steps{
      #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
      }
    }
  }
  .glitch:before{
    content:attr(data-text);
    position:absolute;
    left:-2px;
    text-shadow:1px 0 blue; 
    top:0;
    color:white;
    background:rgb(10, 25, 47);
    overflow:hidden;
    clip:rect(0,900px,0,0); 
    animation:noise-anim-2 3s infinite linear alternate-reverse;
  }

  button {
    border: none;
    background-color: #f1c40f;
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 5px;
    margin: 20px;
    color: white;
    font-weight: 700;
  }